
@model crudentity.Models.Usuario
@{
    ViewData["Title"] = "Detalle Page";
}

<h1 class="text-center">CRUD Usuarios</h1>

<div class="row">
    <div class="col-12">
        <div class="float-right">
             <a asp-action="Crear" asp-controller="Home" class="btn btn-success">
                 <i class="bi bi-file-plus"></i>
                 Detalle Usuario</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="header"> 
            </div>
            <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item"><strong>Nombre: </strong> @Html.DisplayFor( m=> m.Nombre) </li>
                  <li class="list-group-item"><strong>Telefono: </strong>: @Html.DisplayFor( m=> m.Telefono)</li>
                  <li class="list-group-item"><strong>Celular: </strong>: @Html.DisplayFor( m=> m.Celular)</li>
                  <li class="list-group-item"><strong>Email: </strong>: @Html.DisplayFor( m=> m.Email)</li>
                </ul>
            </div>
        </div>
    </div>
</div>

